* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  background: var(--color-white);
  overflow-x: hidden;
}

.page.dark {
  background: rgba(44, 44, 44, 1);
  color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 40px;

  @media (max-width: 1000px) {
    line-height: 35px;
  }

  @media (max-width: 420px) {
    line-height: 30px;
  }
}

.name span {
  color: var(--color-green);
}

.container {
  max-width: 1035px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  padding-top: 40px;
}

.header__language-list {
  display: none;
}

#main__head-image,
#main__head-image-ru {
  @media (max-width: 426px) {
    width: 200px;
    height: 200px;
  }
}

.header__content {
  position: relative;
}

.header__language-list.active {
  display: block;

  position: absolute;
  top: 40px;
  left: -100%;
  padding: 10px 40px;
  background: var(--color-white);
  border: 1px solid var(--color-green);
  border-radius: 20px;
}

.page.dark .header__language-list.active {
  background: rgba(0, 0, 0, 0.15);
}

.page.dark .header__language-list.active ul > li > a {
  color: var(--color-white);
}

.header__language-list.active ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header__language-list.active ul > li > a {
  font-size: 20px;
  color: #000;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  @media (max-width: 396px) {
    gap: 40px;
  }
}

.header__content {
  gap: 40px;
  display: flex;
  align-items: center;
}

.header__wrapper > a {
  font-size: 28px;
  line-height: 16px;
  font-weight: bold;
  color: #000000;
}

.header__wrapper > a span {
  color: var(--color-green);
}

.page.dark .header__wrapper > a {
  color: var(--color-white);
}

.header__wrapper button {
  background: none;
}

.header__language {
  color: var(--color-green);
  font-size: 20px;
}

.page.dark .header__theme svg path {
  fill: var(--color-white);
}

.header__theme svg {
  width: 20px;
  height: 20px;
}

/* Head */

.main__head-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 40px;
  margin-top: -70px;

  @media (max-width: 857px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

#main__head-image svg,
#main__head-image-ru svg {
  border-bottom-right-radius: 120px;
}

#main__head-image svg:nth-1child(2),
#main__where-main-image svg:nth-child(2),
#main__where-main-image-2 svg:nth-child(2),
#main__data-source--image svg:nth-child(2),
#main__animals-image svg:nth-child(2),
#main__location-image svg:nth-child(2),
#main__map-image svg:nth-child(2),
#main__why-image svg:nth-child(2),
#main__joy-image svg:nth-child(2),
#main__joy-image svg:nth-child(2) {
  display: none;
}

#main__head-image-ru svg:nth-child(2),
#main__where-main-image-ru svg:nth-child(2),
#main__where-main-image-2-ru svg:nth-child(2),
#main__data-source--image-ru svg:nth-child(2),
#main__animals-image-ru svg:nth-child(2),
#main__location-image-ru svg:nth-child(2),
#main__map-image-ru svg:nth-child(2),
#main__why-image-ru svg:nth-child(2),
#main__joy-image-ru svg:nth-child(2),
#main__joy-image-ru svg:nth-child(2) {
  display: none;
}

.main__head-right {
  width: 695px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 857px) {
    width: auto;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 520px) {
    gap: 10px;
  }

  @media (max-width: 396px) {
    width: 280px;
  }
}

.main__head-right > h1 {
  font-size: 39px;
  line-height: 45px;

  @media (max-width: 520px) {
    font-size: 22px;
    line-height: 30px;
  }
}

.main__head-right > h2 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 5px;

  @media (max-width: 520px) {
    font-size: 18px;
    line-height: 25px;
  }

  @media (max-width: 426px) {
    margin-bottom: 20px;
  }
}

.main__head-right > p {
  font-size: 25px;
  line-height: 34px;
  width: 520px;
  margin-bottom: 25px;

  @media (max-width: 520px) {
    width: auto;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 20px;
  }

  @media (max-width: 426px) {
    order: 1;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

.main__head-right a {
  @media (max-width: 426px) {
    order: 0;
  }
}

.main__head {
  margin-top: 100px;
}

.special-button a {
  padding: 20px 35px;
  border-radius: 40px;
  background: rgba(0, 184, 0, 0.7);
  color: var(--color-white);

  position: relative;

  transition: opacity 0.2s linear;

  &::before {
    content: "BETA";
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    right: 5px;
    bottom: -5px;

    width: 30px;
    height: 15px;
    border-radius: 40px;
    background: var(--color-white);
    color: var(--color-green);
    font-size: 8px;
  }

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 520px) {
    padding: 20px 35px;
    font-size: 18px;
  }
}

/* HOW WORKS */
.main__how-works-wrapper h2 {
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 39px;
  font-weight: 500;

  @media (max-width: 765px) {
    font-size: 30px;
  }

  @media (max-width: 520px) {
    font-size: 24px;
    line-height: 25px;
  }
}

.main__how-works-wrapper ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  width: 800px;
  padding: 80px;
  border-radius: 120px;

  @media (max-width: 899px) {
    padding: 30px;
  }

  @media (max-width: 811px) {
    width: auto;
    justify-content: start;
  }

  @media (max-width: 426px) {
    padding: 15px;
  }

  @media (max-width: 396px) {
    padding: 10px;
    border-radius: 60px;
  }
}

.main__how-works-wrapper ul > li h3 {
  @media (max-width: 811px) {
    font-size: 24px;
  }

  @media (max-width: 520px) {
    font-size: 20px;
  }
}

.main__how-works-wrapper ul > li p {
  @media (max-width: 811px) {
    font-size: 18px;
  }

  @media (max-width: 520px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.main__how-works-wrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.main__how-works-image {
  margin: 0;
  padding: 0;
}

.main__how-works-wrapper ul > li img {
  @media (max-width: 811px) {
    width: 200px;
    height: auto;
  }

  @media (max-width: 765px) {
    width: 150px;
    height: auto;
  }

  @media (max-width: 430px) {
    width: 100px;
    height: auto;
  }
}

.main__how-works-wrapper ul > li:first-child {
  background: #e2ffcf;
}

.main__how-works-wrapper ul > li:nth-child(2) {
  background: #dcfafe;
}

.main__how-works-wrapper ul > li:last-child {
  background: #fdf9b0;
}

.page.dark .main__how-works-wrapper ul > li:first-child {
  background: linear-gradient(180deg, #80e165 0%, rgba(128, 225, 101, 0) 100%);
}

.page.dark .main__how-works-wrapper ul > li:nth-child(2) {
  background: linear-gradient(180deg, #2cc9ff 0%, rgba(44, 201, 255, 0) 100%);
}

.page.dark .main__how-works-wrapper ul > li:last-child {
  background: linear-gradient(180deg, #efbb18 0%, rgba(239, 187, 24, 0) 100%);
}

.main__how-works-wrapper ul > li aside:first-child {
  width: 400px;
  height: auto;

  position: absolute;
  left: -5%;
  /* top: 0%; */

  @media (max-width: 899px) {
    position: static;
    width: auto;
  }

  @media (max-width: 765px) {
    width: auto;
  }
}

.main__how-works-wrapper ul > li aside:last-child {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 220px;

  @media (max-width: 899px) {
    margin-left: 20px;
    gap: 5px;
  }
}

/* Where works */
.main__where {
  background: linear-gradient(
    100.57deg,
    rgba(232, 232, 232, 0.042) 8.67%,
    rgba(232, 232, 232, 0) 8.68%,
    rgba(232, 232, 232, 0.231) 49.34%,
    rgba(232, 232, 232, 0.35) 92.85%
  );
  padding: 40px;
  margin-top: 50px;
}

.page.dark .main__where {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.15) 100%);
}

.main__where h2 {
  margin-bottom: 10px;
  font-size: 39px;
  font-weight: 500;

  @media (max-width: 765px) {
    font-size: 30px;
  }

  @media (max-width: 520px) {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 25px;
  }
}

.main__where-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;

  @media (max-width: 728px) {
    flex-direction: column;
    gap: 20px;
  }
}

.main__where-main aside:first-child {
  width: 400px;
  height: 400px;

  @media (max-width: 765px) {
    width: auto;
    height: auto;
  }
}

.main__where-main aside:last-child {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 680px;

  @media (max-width: 728px) {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    text-align: center;
    gap: 15px;
  }
}

.main__where-main-text h3 {
  font-size: 39px;
  font-weight: 500;

  @media (max-width: 1000px) {
    font-size: 28px;
    line-height: 30px;
  }

  @media (max-width: 520px) {
    font-size: 20px;
    line-height: 25px;
  }
}

.main__where-main-text p {
  font-size: 20px;
  font-weight: 500;

  @media (max-width: 728px) {
    margin-bottom: 15px;
  }

  @media (max-width: 520px) {
    font-size: 18px;
  }

  @media (max-width: 396px) {
    font-size: 14px;
    line-height: 20px;
  }
}

.main__where-main-text {
  @media (max-width: 396px) {
    width: 280px;
  }
}

/* What learn */
.main__what-learn {
  margin-top: 50px;
}

.main__what-learn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__what-learn-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  gap: 35px 15px;

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.main__what-learn-wrapper h2 {
  text-align: center;
  margin-bottom: 50px;
  line-height: 50px;
  font-weight: 500;

  font-size: 39px;

  @media (max-width: 765px) {
    font-size: 30px;
  }

  @media (max-width: 520px) {
    font-size: 24px;
    line-height: 25px;
  }
}

.main__what-learn-wrapper ul > li {
  width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 45px;

  @media (max-width: 1000px) {
    flex-direction: row;
    width: auto;
    text-align: left;
    justify-content: start;
    align-items: center;
  }

  @media (max-width: 520px) {
    font-weight: bold;
  }
}

.main__what-learn-wrapper ul > li p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  @media (max-width: 520px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.main__what-learn-wrapper ul > li img {
  @media (max-width: 1000px) {
    width: 170px;
    height: 170px;
  }

  @media (max-width: 610px) {
    width: 70px;
    height: 70px;
  }
}

.main__where-second h3 {
  width: 700px;

  @media (max-width: 1000px) {
    width: auto;
  }

  @media (max-width: 520px) {
    font-size: 20px;
    line-height: 25px;
  }
}

.main__where-second h3 > span {
  font-weight: bold;
}

.main__where-second p {
  font-size: 25px;
  width: 427px;
  line-height: 34px;

  @media (max-width: 1000px) {
    width: auto;
    font-size: 20px;
  }

  @media (max-width: 426px) {
    font-size: 14px;
    line-height: 20px;
  }
}

/* What learn second */

.main__what-learn-second--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 40px;
  gap: 35px;
}

.main__what-learn-second--wrapper > img {
  @media (max-width: 520px) {
    width: 80%;
    height: auto;
  }
}

.main__what-learn-second--wrapper h2 {
  text-align: center;
  font-weight: 500;
  font-size: 39px;
  line-height: 45px;

  @media (max-width: 1000px) {
    font-size: 30px;
    line-height: 30px;
  }

  @media (max-width: 520px) {
    font-size: 24px;
    line-height: 25px;
  }
}

.main__what-learn-second--wrapper > p {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  width: 672px;

  @media (max-width: 1000px) {
    width: auto;
  }

  @media (max-width: 430px) {
    font-size: 14px;
    line-height: 20px;
    width: 280px;
  }
}

.main__what-learn-second--wrapper > ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main__what-learn-second--wrapper > ul > li {
  display: flex;
  align-items: center;
  gap: 40px;
  border-radius: 120px;
  padding: 50px;

  @media (max-width: 520px) {
    padding: 25px;
  }

  @media (max-width: 396px) {
    padding: 20px;
    border-radius: 60px;
  }
}

.main__what-learn-second--wrapper > ul > li h3 {
  @media (max-width: 728px) {
    font-size: 24px;
    line-height: 20px;
  }

  @media (max-width: 520px) {
    width: 200px;
    font-size: 20px;
    line-height: 25px;
  }

  @media (max-width: 487px) {
    width: auto;
  }
}

.main__what-learn-second--wrapper > ul > li p {
  font-size: 30px;
  font-weight: 500;
  margin-top: 15px;

  @media (max-width: 728px) {
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
  }
}

.main__what-learn-second--wrapper > ul > li img {
  width: 300px;
  height: 290px;
  -o-object-fit: contain;
  object-fit: contain;

  @media (max-width: 396px) {
    width: 120px;
    height: 110px;
  }
}

.main__what-learn-second--wrapper > ul > li:first-child aside:first-child img {
  width: 300px;
  height: 290px;

  @media (max-width: 396px) {
    width: 100px;
    height: 90px;
  }
}

.main__what-learn-second--wrapper > ul > li:nth-child(1) {
  background: rgba(226, 255, 207, 1);
}

.main__what-learn-second--wrapper > ul > li:nth-child(2) {
  background: rgba(220, 250, 254, 1);
}

.main__what-learn-second--wrapper > ul > li:nth-child(3) {
  background: rgba(209, 219, 250, 1);
}

.page.dark .main__what-learn-second--wrapper > ul > li:nth-child(1) {
  background: linear-gradient(
    96.36deg,
    rgba(128, 225, 101, 0) 20.46%,
    #80e165 91.88%
  );
}

.page.dark .main__what-learn-second--wrapper > ul > li:nth-child(2) {
  background: linear-gradient(270deg, #2cc9ff 0%, rgba(44, 201, 255, 0) 95.86%);
}

.page.dark .main__what-learn-second--wrapper > ul > li:nth-child(3) {
  background: linear-gradient(
    270deg,
    #88a2f3 0%,
    rgba(136, 162, 243, 0) 95.74%
  );
}

/* Data source */

.main__data-source--main {
  display: flex;
  gap: 40px;
  /* justify-content: space-between; */

  @media (max-width: 915px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.main__data-source {
  background: linear-gradient(
    100.57deg,
    rgba(232, 232, 232, 0.042) 8.67%,
    rgba(232, 232, 232, 0) 8.68%,
    rgba(232, 232, 232, 0.231) 49.34%,
    rgba(232, 232, 232, 0.35) 92.85%
  );
  padding: 50px;
  margin-top: 60px;
}

.page.dark .main__data-source {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 54.5%);
}

.main__data-source--wrapper h2 {
  margin-bottom: 30px;

  font-size: 39px;
  font-weight: 500;

  @media (max-width: 765px) {
    font-size: 30px;
  }

  @media (max-width: 520px) {
    font-size: 24px;
    line-height: 25px;
  }
}

.main__data-source--right {
  width: 600px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 915px) {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 520px) {
    gap: 20px;
  }
}

.main__data-source--right h3 {
  font-size: 39px;
  font-weight: 500;

  @media (max-width: 728px) {
    font-size: 28px;
  }

  @media (max-width: 520px) {
    font-size: 20px;
    line-height: 25px;
  }

  @media (max-width: 396px) {
    font-size: 18px;
  }
}

.main__data-source--right p {
  font-size: 30px;
  font-weight: 500;

  @media (max-width: 728px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: 520px) {
    margin-bottom: 10px;
  }
}

#main__data-source--image,
#main__data-source--image-ru {
  width: 400px;
  height: auto;

  @media (max-width: 520px) {
    width: auto;
  }
}

/* Animals */
.main__animals {
  margin-top: 60px;
}

.main__animals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.main__animals-container h2 {
  text-align: center;

  font-size: 39px;
  font-weight: 500;

  @media (max-width: 765px) {
    font-size: 30px;
  }

  @media (max-width: 520px) {
    font-size: 24px;
    line-height: 25px;
  }
}

.main__animals-container ul {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 320px) {
    flex-direction: column;
    gap: 20px;
  }
}

.main__animals-container #main__animals-image,
.main__animals-container #main__animals-image-ru {
  width: 700px;

  @media (max-width: 728px) {
    width: 500px;
  }

  @media (max-width: 520px) {
    width: 100%;
  }
}

.main__animals-container ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  @media (max-width: 520px) {
    gap: 5px;
  }
}

.main__animals-container ul > li > img {
  width: 100px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;

  @media (max-width: 426px) {
    width: 70px;
  }

  @media (max-width: 340px) {
    width: 60px;
  }
}

.main__animals-container ul > li > p {
  font-size: 30px;
  font-weight: 500;

  @media (max-width: 728px) {
    font-size: 16px;
  }

  @media (max-width: 340px) {
    font-size: 14px;
  }
}

.main__animals-block {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px 80px;
  margin-top: 30px;
  border-radius: 120px;
  background: rgba(255, 219, 138, 1);

  @media (max-width: 728px) {
    padding: 20px 40px;
  }

  @media (max-width: 396px) {
    padding: 20px;
    border-radius: 60px;
  }
}

.main__animals-block h4 {
  margin-bottom: 20px;

  @media (max-width: 520px) {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 25px;
  }
}

.main__animals-block img {
  @media (max-width: 520px) {
    width: 100px;
    height: 100px;
  }
}

.page.dark .main__animals-block {
  background: linear-gradient(270deg, #c1811f 0%, rgba(193, 129, 31, 0) 96.85%);
}

.main__animals-block p {
  font-size: 30px;
  width: 500px;
  font-weight: 500;

  @media (max-width: 1000px) {
    width: auto;
  }

  @media (max-width: 728px) {
    font-size: 16px;
    line-height: 20px;
  }
}

/* Location */

.main__location {
  background: linear-gradient(
    100.57deg,
    rgba(232, 232, 232, 0.042) 8.67%,
    rgba(232, 232, 232, 0) 8.68%,
    rgba(232, 232, 232, 0.231) 49.34%,
    rgba(232, 232, 232, 0.35) 92.85%
  );
  padding: 50px;
  margin-top: 60px;
}

.page.dark .main__location {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.main__location h2 {
  font-size: 39px;
  font-weight: 500;

  @media (max-width: 765px) {
    font-size: 30px;
  }

  @media (max-width: 520px) {
    font-size: 24px;
    line-height: 25px;
    text-align: center;
  }
}

.main__location-main {
  display: flex;
  gap: 45px;
  margin-top: 60px;

  @media (max-width: 728px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}

.main__location-right {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 520px) {
    gap: 15px;
  }
}

.main__location-right h3 {
  font-size: 39px;
  font-weight: 500;

  @media (max-width: 520px) {
    font-size: 20px;
    line-height: 25px;
  }
}

.main__location-right p {
  @media (max-width: 520px) {
    font-size: 14px;
    line-height: 22px;
  }
}

/* Replies */
.main__replies {
  margin-top: 60px;
}

.main__replies-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.main__replies-wrapper h2 {
  font-size: 39px;
  font-weight: 500;

  @media (max-width: 765px) {
    font-size: 30px;
  }

  @media (max-width: 520px) {
    font-size: 24px;
    line-height: 25px;
  }
}

.main__replies-wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;

  @media (max-width: 520px) {
    gap: 30px;
  }
}

.main__replies-wrapper ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 10px;
  width: 45%;
  height: 200px;
  border-radius: 120px;

  @media (max-width: 906px) {
    width: 100%;
    height: 130px;
    padding: 10px 25px;
    justify-content: start;
    align-items: center;
  }

  @media (max-width: 520px) {
    padding: 20px;
    align-items: center;
  }

  @media (max-width: 396px) {
    padding: 20px;
    border-radius: 60px;
  }
}

.main__replies-wrapper ul > li > p {
  width: 285px;
  font-size: 30px;
  font-weight: 500;

  @media (max-width: 1000px) {
    width: auto;
  }

  @media (max-width: 520px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.main__replies-image {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__replies-wrapper ul > li:nth-child(3) .main__replies-image img,
.main__replies-wrapper ul > li:nth-child(5) .main__replies-image img {
  width: 90px;
  height: 90px;
}

.main__replies-wrapper ul > li:nth-child(2) .main__replies-image img {
  width: 110px;
  height: 110px;

  @media (max-width: 520px) {
    width: 88px;
    height: 88px;
  }
}

.main__replies-wrapper ul > li:nth-child(1) .main__replies-image img {
  /* width: 110px;
  height: 110px; */

  @media (max-width: 520px) {
    width: 88px;
    height: 88px;
  }
}

.main__replies-wrapper ul > li:nth-child(2) .main__replies-image {
  width: 110px;
  height: 110px;
}

.main__replies-wrapper ul > li:nth-child(1) {
  background: rgba(203, 108, 230, 0.5);
}

.main__replies-wrapper ul > li:nth-child(2) {
  background: rgba(226, 255, 207, 1);
}

.main__replies-wrapper ul > li:nth-child(3) {
  background: rgba(242, 206, 134, 0.5);
}

.main__replies-wrapper ul > li:nth-child(4) {
  background: rgba(0, 146, 255, 0.3);
}

.main__replies-wrapper ul > li:nth-child(5) {
  background: rgba(49, 49, 49, 0.15);
}

.main__replies-wrapper ul > li:nth-child(6) {
  background: rgba(170, 21, 49, 0.3);
}

.main__replies-wrapper ul > li:nth-child(7) {
  background: rgba(113, 235, 255, 0.3);
}

.main__replies-wrapper ul > li:nth-child(8) {
  background: rgba(255, 215, 197, 1);
}

.page.dark .main__replies-wrapper ul > li:nth-child(1) {
  background: linear-gradient(
    268.81deg,
    rgba(203, 108, 230, 0.5) 4.6%,
    rgba(203, 108, 230, 0) 94.63%
  );
}

.page.dark .main__replies-wrapper ul > li:nth-child(2) {
  background: linear-gradient(
    270deg,
    #80e165 0%,
    rgba(128, 225, 101, 0) 97.33%
  );
}

.page.dark .main__replies-wrapper ul > li:nth-child(3) {
  background: linear-gradient(
    270deg,
    rgba(242, 206, 134, 0.5) 0%,
    rgba(242, 206, 134, 0) 100%
  );
}

.page.dark .main__replies-wrapper ul > li:nth-child(4) {
  background: linear-gradient(
    270deg,
    rgba(0, 146, 255, 0.3) 0%,
    rgba(0, 146, 255, 0) 93.33%
  );
}

.page.dark .main__replies-wrapper ul > li:nth-child(5) {
  background: linear-gradient(
    270deg,
    #7187a0 0%,
    rgba(113, 135, 160, 0) 94.89%
  );
}

.page.dark .main__replies-wrapper ul > li:nth-child(6) {
  background: linear-gradient(
    270deg,
    #aa1531 0.67%,
    rgba(170, 21, 49, 0) 103.11%
  );
}

.page.dark .main__replies-wrapper ul > li:nth-child(7) {
  background: linear-gradient(270deg, #00c2ff 0%, rgba(0, 194, 255, 0) 100%);
}

.page.dark .main__replies-wrapper ul > li:nth-child(8) {
  background: linear-gradient(270deg, #9c6f1b 0%, rgba(156, 111, 27, 0) 93.33%);
}

/* Map */
.main__map {
  background: rgba(130, 238, 253, 0.2);
  padding: 60px;
  margin-top: 80px;
}

.page.dark .main__map {
  background: linear-gradient(
    95.46deg,
    #00b0a6 0%,
    rgba(0, 184, 242, 0.3) 100%
  );
}

.main__map-wrapper {
  display: flex;
  /* justify-content: space-between; */
  gap: 45px;

  @media (max-width: 1000px) {
    flex-direction: column;
    text-align: center;
  }

  @media (max-width: 520px) {
    gap: 20px;
  }
}

#main__map-image,
#main__map-image-ru {
  width: 180%;

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.main__map-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: auto;

  @media (max-width: 1000px) {
    width: auto;
  }

  @media (max-width: 520px) {
    gap: 20px;
  }
}

.main__map-right h2 {
  font-size: 39px;
  font-weight: 500;

  @media (max-width: 1000px) {
    font-size: 28px;
  }

  @media (max-width: 520px) {
    font-size: 20px;
    line-height: 25px;
  }
}

.main__map-right p {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;

  @media (max-width: 520px) {
    font-size: 16px;
    line-height: 20px;
  }
}

/* Why we */
.main__why {
  margin-top: 80px;
}

.main__why-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__why-wrapper h2 {
  font-size: 39px;
  font-weight: 500;

  @media (max-width: 1000px) {
    font-size: 28px;
    line-height: 25px;
  }
}

.main__why-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;

  @media (max-width: 1000px) {
    flex-direction: column;
    gap: 40px;
  }
}

.main__why-wrapper ul > li .main__why-image {
  width: 200px;
  height: 150px;
}

.main__why-wrapper ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main__why-wrapper ul > li > p {
  font-size: 26px;
  font-weight: 500;
  line-height: 28px;

  @media (max-width: 520px) {
    font-size: 16px;
    line-height: 20px;
  }
}

/* Support */
.main__support {
  background: rgba(245, 215, 239, 0.5);
  padding: 60px;
  margin-top: 80px;
}

.page.dark .main__support {
  background: linear-gradient(
    269.83deg,
    #fc84e7 1.32%,
    rgba(248, 169, 234, 0.15) 99.85%
  );
}

.main__support-left img {
  @media (max-width: 520px) {
    width: 100%;
    height: auto;
  }
}

.main__support-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  @media (max-width: 1000px) {
    flex-direction: column;
    text-align: center;
  }
}

.main__support-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 550px;

  @media (max-width: 1000px) {
    width: auto;
    gap: 20px;
  }
}

.main__support-right h2 {
  font-size: 39px;
  font-weight: 500;

  @media (max-width: 765px) {
    font-size: 30px;
  }

  @media (max-width: 520px) {
    font-size: 24px;
    line-height: 25px;
  }
}

.main__support-right p {
  margin-bottom: 20px;
  font-size: 30px;

  @media (max-width: 520px) {
    font-size: 16px;
    line-height: 20px;
  }
}

/* FAQ */
.main__faq {
  padding: 80px 0;
  background: linear-gradient(
    100.57deg,
    rgba(232, 232, 232, 0.042) 8.67%,
    rgba(232, 232, 232, 0) 8.68%,
    rgba(232, 232, 232, 0.231) 49.34%,
    rgba(232, 232, 232, 0.35) 92.85%
  );
}

.page.dark .main__faq {
  background: linear-gradient(160.66deg, #000000 0.42%, rgba(0, 0, 0, 0) 100%);
}

.main__faq-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  display: none;
  transition: all 0.2s ease;
}

.main__faq-main p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  line-height: 30px;
  color: rgba(82, 82, 91, 1);

  width: 700px;

  @media (max-width: 520px) {
    width: 280px;
  }

  @media (max-width: 1000px) {
    font-size: 16px;
  }

  @media (max-width: 736px) {
    line-height: 22px;
  }
}

.main__faq-top {
  cursor: pointer;
}

.page.dark .main__faq-main p {
  color: var(--color-white);
}

.main__faq-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.main__faq-wrapper h2 {
  font-size: 39px;
  font-weight: 500;

  @media (max-width: 765px) {
    font-size: 30px;
  }

  @media (max-width: 520px) {
    font-size: 24px;
    line-height: 25px;
  }
}

.main__faq-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 60px;
  width: 100%;
}

.main__faq-wrapper ul > li {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(82, 82, 91, 1);
}

.main__faq-wrapper ul > li .main__faq-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.main__faq-wrapper ul > li .main__faq-top > button {
  background: none;
}

.main__faq-wrapper ul > li h3 {
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 10px;
  color: rgba(82, 82, 91, 1);

  width: 700px;

  @media (max-width: 520px) {
    width: 280px;
  }

  @media (max-width: 728px) {
    font-size: 20px;
    line-height: 25px;
  }
}

.page.dark .main__faq-wrapper ul > li h3 {
  color: var(--color-white);
}

.toggle-btn {
  transition: all 0.2s ease-in;
}

.toggle-btn.active {
  transform: rotate(45deg);
}

/* Joy */
.main__joy {
  margin-top: 50px;
}

.main__joy-wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 947px) {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.main__joy-wrapper > h2 {
  display: none;

  @media (max-width: 947px) {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
  }

  @media (max-width: 520px) {
    font-size: 24px;
    line-height: 25px;
  }
}

.main__joy-right h2 {
  @media (max-width: 947px) {
    display: none;
  }
}

.main__joy-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 570px;

  @media (max-width: 1000px) {
    width: auto;
  }

  @media (max-width: 520px) {
    gap: 20px;
  }
}

.main__joy-right h2 {
  font-size: 39px;
  font-weight: 500;

  @media (max-width: 1000px) {
    font-size: 28px;
  }
}

.main__joy-right p {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;

  @media (max-width: 520px) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}

#main__joy-image {
  width: 400px;
  height: auto;

  @media (max-width: 426px) {
    width: 100%;
    height: auto;
  }
}

/* Footer */
.footer {
  background: linear-gradient(
    100.57deg,
    rgba(232, 232, 232, 0.042) 8.67%,
    rgba(232, 232, 232, 0) 8.68%,
    rgba(232, 232, 232, 0.231) 49.34%,
    rgba(232, 232, 232, 0.35) 92.85%
  );
  padding: 60px;
  margin-top: 60px;

  @media (max-width: 520px) {
    padding: 20px;
  }
}

.page.dark .footer {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1062px) {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
  }
}

.footer__socials,
.footer__socials ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer__socials ul {
  @media (max-width: 1062px) {
    flex-direction: row;
  }
}

.footer__left {
  font-size: 16px;
  width: 380px;

  @media (max-width: 1000px) {
    width: auto;
  }
}

.footer__left h6 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 20px;
}

.footer__left h6,
.footer__left p,
.footer__socials h6,
.footer__right h6,
.footer__right p {
  line-height: 20px;
}

.footer__right ul {
  margin-top: 15px;
}

.footer__right a {
  color: rgba(39, 39, 42, 1);
  font-size: 16px;
  line-height: 35px;
  margin-top: 15px;
}

.page.dark .footer__right a {
  color: var(--color-white);
}

// ================================ MAIN GLOBAL STYLES ================================
html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a {
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
  border: none;
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-green: #00b800;
  --color-light-green: #e2ffcf;
  --color-white-secondary: #dcfafe;
  --color-yellow: #fdf9b0;
  --color-light-purple: #d1dbfa;
  --color-orange: #ffdb8a;
  --color-purple: #cb6ce680;
  --color-blue: #0092ff4d;
  --color-red: #aa1531;
  --color-gray: #313131;
  --color-orange-secondary: #ffd7c5;
}

